<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cqu.xiang.survey">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Step1Activity"
            android:label="Survey: Step 1" />
        <activity
            android:name=".Step2Activity"
            android:label="Survey: Step 2" />
        <activity
            android:name=".Step3Activity"
            android:label="Survey: Step 3" />
        <activity
            android:name=".Step4Activity"
            android:label="Survey: Step 4" />
        <activity
            android:name=".Step5Activity"
            android:label="Survey: Step 5" />
        <activity
            android:name=".Step6Activity"
            android:label="Survey: Step 6" />
        <activity
            android:name=".Step7Activity"
            android:label="Survey: Step 7" />
        <activity
            android:name=".Step8Activity"
            android:label="Survey: Step 8" />
        <activity
            android:name=".Step9Activity"
            android:label="Survey: Step 9" />
        <activity
            android:name=".Step10Activity"
            android:label="Survey: Step 10" />
        <activity
            android:name=".Step11Activity"
            android:label="Survey: Step 11" />
        <activity
            android:name=".Step12Activity"
            android:label="Survey: Step 12" />
        <activity
            android:name=".EmailActivity"
            android:label="Survey: We are done"/>
        <activity
            android:name=".EndActivity"
            android:label="Survey: We are done">
        </activity>
    </application>

</manifest>